.App {
  font-family: 'Dancing Script', cursive;
  /* Use Google Fonts or similar for decorative fonts */
  text-align: center;
  margin: 20px;
}

.search-bar {
  margin-bottom: 20px;
  color: black;
}

::placeholder {
  color: black;
  font-weight: bold;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  background-color: #FF6969;
  color: black;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid lightpink;
}

table th {
  background-color: lightpink;
}

table tr:nth-child(even) {
  background-color: #FFEE8C;
}


table td:first-child {
  background: url('./woof.png') no-repeat left;
  background-size: 30px;
  padding-left: 35px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  font-family: 'Dancing Script', cursive;
  /* Use Google Fonts or similar for decorative fonts */
  margin-top: 20px;
}

/* Search Box */
input[type="text"] {
  display: block;
  width: 30%;
  margin: 20px auto;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 25px;
  background: url('https://i.pinimg.com/originals/11/73/4e/11734e319541817adde15bbc59649455.jpg') no-repeat right;
  background-size: 100%;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: black;
}

.leaderboard-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  background: url(./eunaSanta.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  height: 625px;
  width: 100%;
}

.leaderboard {
  flex: 2;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}